<!DOCTYPE html>
<html>
<head>
  <title>Inter Bridge</title>
  
  <%= render 'favicon' %>
  
  <!-- Mobile Specific Metas================================================== -->
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Template CSS Files================================================== -->
  <!-- Twitter Bootstrs CSS -->
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <!-- Ionicons Fonts Css -->
  <link rel="stylesheet" href="/assets/css/ionicons.min.css">
  <!-- animate css -->
  <link rel="stylesheet" href="/assets/css/animate.css">
  <!-- Hero area slider css-->
  <link rel="stylesheet" href="/assets/css/slider.css">
  <!-- owl craousel css -->
  <link rel="stylesheet" href="/assets/css/owl.carousel.css">
  <link rel="stylesheet" href="/assets/css/owl.theme.css">
  <link rel="stylesheet" href="/assets/css/jquery.fancybox.css">
  <!-- template main css file -->
  <link rel="stylesheet" href="/assets/css/main.css">
  <!-- responsive css -->
  <link rel="stylesheet" href="/assets/css/responsive.css">
  
  <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
  
  <!-- Template Javascript Files================================================== -->
  <!-- modernizr js -->
  <script src="/assets/js/vendor/modernizr-2.6.2.min.js"></script>
  <!-- jquery -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <!-- owl carouserl js -->
  <script src="/assets/js/owl.carousel.min.js"></script>
  <!-- bootstrap js -->

  <script src="/assets/js/bootstrap.min.js"></script>
  <!-- wow js -->
  <script src="/assets/js/wow.min.js"></script>
  <!-- slider js -->
  <script src="/assets/js/slider.js"></script>
  <script src="/assets/js/jquery.fancybox.js"></script>
  <!-- template main js -->
  <script src="/assets/js/main.js"></script>
  
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <header id="top-bar" class="navbar-fixed-top animated-header">
    <div class="container">
      <div class="navbar-header">
          <!-- responsive nav button -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <!-- /responsive nav button -->
          
          <!-- logo -->
          <div class="navbar-brand">
              <a href="/" >
                  <img src="https://s3.ap-northeast-2.amazonaws.com/sungurails/interbridge/logo.png" alt="" style="margin-top:-30px;" width="180px">
              </a>
          </div>
          <!-- /logo -->
      </div>
      <!-- main menu -->
      <nav class="collapse navbar-collapse navbar-right" role="navigation">
        <div class="main-menu">
          <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="/" >Home</a>
              </li>
              <li><a href="/study/index">Study Bridge</a></li>
              <li><a href="/play/index">Play Bridge</a></li>
              <li><a href="/career/index">Career Bridge</a></li>
              
              <!--<li class="dropdown">-->
              <!--  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <span class="caret"></span></a>-->
              <!--  <div class="dropdown-menu">-->
              <!--      <ul>-->
              <!--          <li><a href="blog-fullwidth.html">Blog Full</a></li>-->
              <!--          <li><a href="blog-left-sidebar.html">Blog Left sidebar</a></li>-->
              <!--          <li><a href="blog-right-sidebar.html">Blog Right sidebar</a></li>-->
              <!--      </ul>-->
              <!--  </div>-->
              <!--</li>-->
              <% if user_signed_in? %>
                <li><%= image_tag(current_user.image, size: '40x40', style:'border-radius:3px;margin-top:5px;') if current_user.image %></li>
                <li><%= link_to "로그아웃", destroy_user_session_path, method: :delete, data: {confirm: "Are you sure?" }%></li>
              <% else %>
                <li><%= link_to "페이스북으로 로그인", user_facebook_omniauth_authorize_path %></li>
              <% end %>
          </ul>
        </div>
      </nav>
    </div>
  </header>

<%= yield %>

  <footer id="footer">
    <div class="container">
      <div class="text-center">
          <p class="copyright">Copyright: <span>2016</span> RIAH</p>
      </div>
    </div>
  </footer> 

</body>
</html>